<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Plus toolkit:<br/>take your image-guidance system from bench to bedside</h1>
  <p>Free, open-source library and applications for data acquisition, pre-processing, calibration, and real-time streaming of imaging, position tracking, and other sensor data.</p>
  <p><a class="btn btn-primary btn-large" href="about.html">Learn more &raquo;</a></p>
</div>

<div class="row">
  <div class="span4">
    <h2>Features</h2>
    <p>Overview of main features of the toolkit - supported devices, data types, and processing algorithms.</p>
    <p><a class="btn" href="features.html">View features &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Download</h2>
    <p>Download the pre-built binary packages.</p>
    <p><a class="btn" href="download.html">Downloads &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>User's guide</h2>
    <p>Learn how to set up your hardware and software to work with Plus.</p>
    <p><a class="btn" href="usersguide.html">View user's guide &raquo;</a></p>
  </div>
</div>

<div class="row">
  <div class="span4">
    <h2>Developer's guide</h2>
    <p>How to build the toolkit on various operating systems to customize or extend it.</p>
    <p><a class="btn" href="developersguide.html">View developer's guide &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Plus 3D model catalog</h2>
    <p>Catalog of printable 3D models of tools and tracking fixtures.</p>
    <p><a class="btn" href="http://perk-software.cs.queensu.ca/plus/doc/nightly/modelcatalog/">View 3D model catalog &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Contact</h2>
    <p>How to cite, where to report errors, ask questions, or get more information.</p>
    <p><a class="btn" href="contact.html">View contact information &raquo;</a></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
