<!-- Main hero unit for a primary marketing message or call to action -->
<div class="hero-unit">
  <h1>Plus toolkit:<br/>take your image-guidance system from bench to bedside</h1>
  <p>Free, open-source library and applications for data acquisition, pre-processing, calibration, and real-time streaming of imaging, position tracking, and other sensor data.</p>
  <p><a class="btn btn-primary btn-large" href="about.html">Learn more &raquo;</a></p>
</div>

<!-- Example row of columns -->
<div class="row">
  <div class="span4">
    <h2>Features</h2>
    <p>Overview of main features of the toolkit: what kind of data can be acquired, from what devices, what processing and calibration methods are available, and what can be done with all these data.</p>
    <p><a class="btn" href="features.html">View features &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>User's guide</h2>
    <p>Download the toolkit and learn how to set up your hardware and software to work with Plus.</p>
    <p><a class="btn" href="usersguide.html">View user's guide &raquo;</a></p>
  </div>
  <div class="span4">
    <h2>Plus 3D model catalog</h2>
    <p>Catalog of printable 3D models of tools and tracking fixtures.</p>
    <p><a class="btn" href="http://perk-software.cs.queensu.ca/plus/doc/nightly/modelcatalog/">View 3D model catalog &raquo;</a></p>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    {{ content }}
  </div>
</div>
